@font-face {
  font-family: STAR WARS FONT;
  src:url('Starjedi.ttf');
  }

body{
  font-family: 'Montserrat', sans-serif;
  background: #000000;  /* fallback for old browsers */
  background: linear-gradient(to left, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.App {
  text-align: center;
}
.App-logo {
  height: 80px;
}
.App-header {
  background-color: transparent;
  padding: 20px;
  color: white;
  margin-bottom:10px;

}
.loadingWord{
  font-family: star wars font;
  position:absolute;
  font-size: 1.5em;
  left:50%;
  top:-1em;
  transform:translate(-50%,-50%);
  color:transparent;
  background: linear-gradient(90deg,#741515, transparent 80% );
  background-size: 400% 400%;
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
  animation: changeColor 2s infinite linear ;
}

.lightsaberContainer{
  position: absolute;
  max-width:40%;
  display:flex;
  top:40%;
  left:50%;
  transform: translate(-50%,-50%) ;
}
.lightsaberDiv{
  align-self: center;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color:white;
  filter:blur(3px);
  width:0%;
  padding:3px 0;
  margin-bottom:2px;
  margin-left:-3%;
  box-shadow: 0 0 0 4px red, 0 0 2px 6px rgb(32, 6, 6);
  animation:laser 2s infinite ease-out;
}
.lightsaberHilt{
  width:30%;
  height:100%;
  z-index: 1;
}

.App-title {
  margin-top: 0;
  padding-bottom:10px;
  font-size: 1.3em;
  font-family: STAR WARS FONT;
  background: -webkit-linear-gradient(90deg,#fcfc03, rgba(255, 255, 255, 0.61));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Close-Popup {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
.cardsStyle{
  background-image: linear-gradient(240deg,#333, #000);
border:1px solid white;
cursor: pointer;
-moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  border-radius: .5em;
  display: inline-block;
  margin:.5em;
  padding:1.3em;
}
.cardsStyle:hover,focus{
  transform: scale(1.05);
}
.cardsStyle h1 {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
hr {
  border-bottom:1px solid transparent;
  border-image: linear-gradient(to left,transparent, #222, transparent);
  border-image-slice: 1;
}

.Popup-header{
  letter-spacing: 5px;
    max-width: 50vw;
  text-align: center;
  border-bottom:2px solid transparent;
  border-image: linear-gradient(to left,#aaa, #222, #aaa);
  border-image-slice: 1;
  padding: 5px;
  text-transform: uppercase;
  font-weight: bold;
  background: #000000;  /* fallback for old browsers */
  background: linear-gradient(to left, #434343, #000000); 
}
.Popup-header h1{
  font-size: 20px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Popup-container {
    display: flex;
justify-content: space-between;
background: #000000;  /* fallback for old browsers */
background: linear-gradient(to left, #434343, #000000);
color:white;
max-width:50vw;
}
.Popup-planet, .Popup-films{
    width: 35%;
}
.Popup-content{
    align-self: center;
}

.Popup-content ul{
    padding-left: 0;
    text-align: center;
}
.Popup-content li{
    
    list-style-type:none;
    text-align: center;
    margin-left: 0;
    padding-left: 0;
}
.Popup-films{
  display:flex;
  flex-flow: row wrap;
}
.Popup-coverOn, .Popup-coverOff{
  width:30%;
  margin:1%;
  align-self: center;
  
}
.Popup-coverOff{
  filter: grayscale(100%);
}

@keyframes laser{
  0% {width:0%;}
  100%{width:70%}
}

@keyframes changeColor {
    0%{background-position:100% 100%}
    50% {background-position:50% 50%}
    100%{background-position:0% 0%}
}
@media only screen and (max-width: 1400px){
  body{
    font-size: 14px;
  }
  .lightsaber{
    filter:blur(2px);
    padding:1px 0;
    box-shadow: 0 0 0 2px red;
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 1200px){
  body{
    font-size: 12px;
  }
  .lightsaberDiv{
    filter:blur(2px);
    padding:2px 0;
    box-shadow: 0 0 0 3px red;
  }
}
@media only screen and (max-width: 800px){
  .Popup-header{
    max-width:75vw;
  }
  .Popup-container{
    flex-flow: row wrap;
    align-items: center;
    left: 0;
    max-width:75vw;
  }
  .Popup-films{
    display:flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
}
  .Popup-planet, .Popup-content{
    width:50%;
  }
  .Popup-planet{
    position:relative;
  }
  .Popup-planet img{
    width:80%;
  }
  .lightsaberContainer{
    max-width:80%;
    display:flex;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%) ;
  }
  .lightsaberDiv{
    filter:blur(1px);
    padding:1.5px 0;
    box-shadow: 0 0 0 2px red;
    margin-bottom: 1px;
  }
}

